{% extends "page.html" %}
{% block title %}{{ note.title|e }}{% endblock %}
{% block content %}
<article>
  <h2>{{ note.title|e }}</h2>
  <small><p>{{ note.modified_at.strftime('%d %b %Y') }} · {% for author in note.authors %}<a href="https://github.com/{{ author|e }}">{{ author|e }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p></small>
</article>
{% endblock %}
{% block links %}
{{ note.content }}
<section id="updates">
  <h3>Recent Updates</h3>
  <ul>
  {% for note in notes.values()|sort(attribute='modified_at,title', reverse=True)|batch(10)|first %}
    <li>
      <a href="/{{ note.identifier|e }}.html">{{ note.title|e }}</a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}
