{% extends "base.html" %}
{% block title %}{{ page.title|e }}{% endblock %}
{% block content %}
<article>
  <header>
    <h1>
      {{ page.title|e }}
      {% if options.dev %}
      <a href="kb:///{{ page.identifier|e }}.md">
      {% else %}
      <a href="https://github.com/dadevel/knowledge-graph/blob/main/graph/{{ page.identifier|e }}.md">
      {% endif %}
        <svg width="1rem" height="1rem" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <use href="/static/feather-sprite.svg#edit-2"/>
        </svg>
      </a>
    </h1>
    <small><p>{{ page.modified_at.strftime('%d.%m.%Y') }} · {% if not page.authors %}anonymous{% else %}{% for author in page.authors %}<a href="https://github.com/{{ author|e }}">{{ author|e }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</p></small>
  </header>
  <main>
    {{ page.content }}
  </main>
</article>
{% endblock %}
{% block links %}
{% if posts %}
<hr>
<section>
  <h3>Recent Posts</h3>
  <ul>
  {% for post in posts %}
    <li>
      <a href="/{{ post.identifier|e }}.html">{{ post.modified_at.strftime('%d.%m.%Y') }} - {{ post.title|e }}</a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
{% endblock %}
